/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    background: #3f4348 url('http://www.frecosse.com/workshop/accordion_menu/bg.png');
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px 0px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/**
*menu
*/
.accordion {
    width: 100%;
    margin: 30px auto 20px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}


.sidebar .panel-title a{
    display: block;
    padding:12px;
    border-radius: 0px;
    background: #44c6eb;     
    border-top: 1px solid #878e98;
    border-bottom: 1px solid #2799db;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    letter-spacing: 0.09em; 
    background: #575e63;
    background: -webkit-linear-gradient(top, #44c6eb, #2799db);
    background: -moz-linear-gradient(top, #44c6eb, #2799db);
    background: -ms-linear-gradient(top, #44c6eb, #2799db);
    background: -o-linear-gradient(top, #44c6eb, #2799db);
}
.sidebar .panel-title a.collapsed{
    border-bottom-color: #33373d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#575e63), to(#3f4347));
    background: -webkit-linear-gradient(top, #575e63, #3f4347);
    background: -moz-linear-gradient(top, #575e63, #3f4347);
    background: -ms-linear-gradient(top, #575e63, #3f4347);
    background: -o-linear-gradient(top, #575e63, #3f4347); 
}
.sidebar .panel-heading a:hover{
    background:#3e505e;
}
.sidebar .panel-title a:hover,
.sidebar .panel-title a:focus{
    text-decoration: none;
}
.list-group {
    background-color: #fff;
    
}
.list-group .list-group-item,
.list-group .list-group-item:hover{
    border-radius: 0px;
    background:transparent;
    border-color: #efefef;
    border-right-style:none;
    border-bottom-color: #ccc;
}
.list-group .list-group-item p{
    margin:10px 0px 0px;
}

.list-group li.active,
.list-group li.active:hover{
    color: #44c6eb;
  /* box-shadow:1px 1px 10px #999 inset;*/
}

.list-group-item .item-title,
.list-group-item .item-title:hover{
    text-decoration: none;
}
.item-status{
    font-size: 16px;
    color: #c5c5c5;

}